<div class="k-overlay" *ngIf="isOpened"></div>
<div class="create-user">
  <button kendoButton (click)="openModalOpen()">Добавить пользователя</button>
  <kendo-window
    title="Please provide additional data"
    *ngIf="isOpened"
    (close)="closeModalWindow()"
    [minWidth]="250"
    [width]="450"
  >
    <h3>Добавить нового пользователя</h3>
    <form class="k-form" [formGroup]="createUserForm">
      <div class="form-group">
        <label class="k-form-field">
          <span>Имя пользователя</span>
        </label>
        <input formControlName="userName" class="k-textbox"/>
        <div class="validation-message" *ngIf="showValidationsErrors(createUserForm?.get('userName'))">
          <div
            class="validation-message-text"
            *ngIf="showControlErrors(createUserForm?.get('userName'),'required')"
          >
            {{ 'required'}}
          </div>
          <div
            class="validation-message-text"
            *ngIf="showControlErrors(createUserForm?.get('userName'),'minlength')"
          >
            {{ 'minlength 5'}}
          </div>
          <div
            class="validation-message-text"
            *ngIf="showControlErrors(createUserForm?.get('userName'),'maxlength')"
          >
            {{ 'maxlength 15'}}
          </div>
          <div
            class="validation-message-text"
            *ngIf="showControlErrors(createUserForm?.get('userName'),'usernameAlreadyExists')"
          >
            {{ 'This username already exist. Name should be unique'}}
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="k-form-field">
          <span>Пол</span>
        </label>
        <kendo-dropdownlist formControlName="gender" [data]="gender" textField="label" valueField="value"> </kendo-dropdownlist>
        <div class="validation-message" *ngIf="showValidationsErrors(createUserForm?.get('gender'))">
          <div
            class="validation-message-text"
            *ngIf="showControlErrors(createUserForm?.get('gender'),'required')"
          >
            {{ 'required'}}
          </div>
          </div>
      </div>
      <div class="form-group">
        <label class="k-form-field">
          <span>Дата рождения</span>
        </label>
        <kendo-datepicker [max]="maxDateOfBirthday" formControlName="dateOfBirthday"></kendo-datepicker>
        <div class="validation-message" *ngIf="showValidationsErrors(createUserForm?.get('dateOfBirthday'))">
          <div
            class="validation-message-text"
            *ngIf="showControlErrors(createUserForm?.get('dateOfBirthday'),'required')"
          >
            {{ 'required'}}
          </div>
          </div>
      </div>
      <div class="form-group">
        <label class="k-form-field">
          <span>Направление обучения</span>
        </label>
        <kendo-dropdownlist formControlName="education" [data]="education" textField="label" valueField="value"> </kendo-dropdownlist>
        <div class="validation-message" *ngIf="showValidationsErrors(createUserForm?.get('education'))">
          <div
            class="validation-message-text"
            *ngIf="showControlErrors(createUserForm?.get('education'),'required')"
          >
            {{ 'required'}}
          </div>
          </div>
      </div>
      <div class="form-group">
        <label class="k-form-field">
          <span>Дата начала обучения</span>
        </label>
        <kendo-datepicker
         [min]="minStartDateOfEducation"
         [max]="maxStartDateOfEducation"
         formControlName="startDateOfEducation"
         ></kendo-datepicker>
         <div class="validation-message" *ngIf="showValidationsErrors(createUserForm?.get('startDateOfEducation'))">
          <div
            class="validation-message-text"
            *ngIf="showControlErrors(createUserForm?.get('startDateOfEducation'),'required')"
          >
            {{ 'required'}}
          </div>
          </div>
      </div>
      <div class="form-group">
        <label class="k-form-field">
          <span>Дата конца обучения</span>
        </label>
        <kendo-datepicker [min]="minEndDateOfEducation" formControlName="endDateOfEducation"></kendo-datepicker>
        <div class="validation-message" *ngIf="showValidationsErrors(createUserForm?.get('endDateOfEducation'))">
          <div
            class="validation-message-text"
            *ngIf="showControlErrors(createUserForm?.get('endDateOfEducation'),'required')"
          >
            {{ 'required'}}
          </div>
          </div>
      </div>
      <div class="text-right">
        <button type="button" class="k-button" (click)="closeModalWindow()">
          Cancel
        </button>
        <button type="button" class="k-button k-primary" (click)="submit()" [disabled]="isNotValidForm">
          Submit
        </button>
      </div>
    </form>
  </kendo-window>
</div>

