<kendo-grid [data]="userInfo" (remove)="removeUser($event)">
  <kendo-grid-column field="userName">
    <ng-template
      kendoGridHeaderTemplate
      let-column
    >
      {{ 'Имя пользователя'  }}
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="gender">
    <ng-template
      kendoGridHeaderTemplate
      let-column
      let-columnIndex="columnIndex"
    >
      {{ 'Пол' }}
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="dateOfBirthday" [format]="{ date: 'yyyy-MM-dd' }">
    <ng-template
      kendoGridHeaderTemplate
      let-column
    >
    {{ 'Дата рождения' }}
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="education">
    <ng-template
      kendoGridHeaderTemplate
      let-column
      let-columnIndex="columnIndex"
    >
      {{ 'Направление обучения' }}
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="startDateOfEducation" [format]="{ date: 'yyyy-MM-dd' }">
    <ng-template
      kendoGridHeaderTemplate
      let-column
      let-columnIndex="columnIndex"
    >
    {{ 'Дата начала обучения' }}
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="endDateOfEducation" [format]="{ date: 'yyyy-MM-dd' }">
    <ng-template
      kendoGridHeaderTemplate
      let-column
      let-columnIndex="columnIndex"
    >
    {{ 'Дата конца обучения' }}
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-command-column title="command" width="220">
    <ng-template kendoGridCellTemplate let-isNew="isNew">
      <button kendoGridRemoveCommand>Remove</button>
    </ng-template>
  </kendo-grid-command-column>
</kendo-grid>
